#foButt {
position:relative;
left:104px;
top:-40.688px;
}

#soButt{
position:relative;
left:104px;
top:-43px;
}

#datButt{
position:relative;
left:175px;
top:-43px;
}

#ldButt{
position:relative;
left:149px;
top:-43px;
}